<!-- BEGIN Information icons -->
<div class="grid-container-info">

    <abbr title="Official Website">
        <a href="https://mwxgaf.github.io/pylocalhost" target="blank">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/website.png') }}" alt="Github" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="About us">
        <a href="https://i.mwxg.ir" target="blank">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/about.png') }}" alt="About us" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="User Manual">
        <a href="{{ url_for('guid') }}">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/help.png') }}" alt="User Manual" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="Settings">
        <a href="{{ url_for('settings') }}">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/settings.png') }}" alt="settings" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="Login">
        <a href="{{ url_for('login') }}">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/login.png') }}" alt="login" class="info">
            </div>
        </a>
    </abbr>
</div>
<div class="version">
PyLocalHost | Version 1.4
<br>
MWX | 2020
</div>
<!-- END Information icons -->