<!-- BEGIN Information icons -->
<div class="grid-container-info">

    <abbr title="Github repository">
        <a href="https://github.com/mwxgaf/pylocalhost" target="blank">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/github.png') }}" alt="Github" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="About us">
        <a href="{{ url_for('about') }}">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/about.png') }}" alt="About us" class="info">
            </div>
        </a>
    </abbr>

    <abbr title="User Manual">
        <a href="{{ url_for('guid') }}">
            <div class="grid-item-info">
                <img src="{{ url_for('static',filename='image/help.png') }}" alt="User Manual" class="info">
            </div>
        </a>
    </abbr>

</div>
<!-- END Information icons -->