{% extends 'explorer.html' %}

{% block title %}404 Not Found! | PyLH{% endblock title %}

{% block content %}
<center>
    {% include 'includes/title.html' %}
    <h1 class="error">404 Not Found!</h1>
    <div class="nfnav">
        <a href="{{ url_for('explorer') }}"><img src="{{ url_for('static',filename='image/home.png') }}" alt="Home"></a>
        <a href=".."><img src="{{ url_for('static',filename='image/back.png') }}" alt="Back"></a>
    </div>
    <p class="notfound">Address: ~/Pylocalhost/{{ p }}</p>
    {% include 'includes/info_icons.html' %}
</center>
{% endblock content %}