{% extends 'explorer.html' %}

{% block title %}PyLH Editor{% endblock title %}

{% block exhead %}
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/codemirror.css') }}">
<script src="{{ url_for('static',filename='codemirror/codemirror.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/monokai.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/isotope.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/cobalt.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/eclipse.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='codemirror/neat.css') }}">
<script src="{{ url_for('static',filename='codemirror/xml.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/javascript.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/python.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/css.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/markdown.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/php.js') }}"></script>
{% endblock exhead %}

{% block content %}
{% include 'includes/title.html' %}
<div class="container">
    <h1>PyLH Editor</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        File name:
        <br>
        {{ form.name }}
        &nbsp;
        File type:
        &nbsp;
        <select id="type">
            <option value="">Text</option>
            <option value="xml" id="xml">HTML</option>
            <option value="css">CSS</option>
            <option value="javascript">JavaScript</option>
            <option value="markdown">Markdown</option>
            <option value="python">Python</option>
            <option value="php">PHP</option>
        </select>
        &nbsp;
        Theme:
        &nbsp;
        <select id="theme">
            <option value="monokai">Monokai</option>
            <option value="isotope">Isotope</option>
            <option value="cobalt">Cobalt</option>
            <option value="eclipse">Eclipse</option>
            <option value="neat">Neat</option>
        </select>
        <br>
        Content:
        <br>
        {{ form.content }}
        <br>
        <center>
            <input type="submit" value="Save">
        </center>
    </form>
</div>
<script src="{{ url_for('static',filename='script/editor.js') }}"></script>
<script>
    editor.setOption('theme',"{{ theme }}");
    document.querySelector("option[value={{ theme }}]").setAttribute('selected',null);
</script>
{% endblock content %}