{% extends 'explorer.html' %}

{% block title %}راهنمای کاربر | PyLH{% endblock title %}

{% block content %}
{% include 'includes/title.html' %}
<div class="farsi">
    برنامه ای برای سرو کردن و رندر فایل ها با سرور در لوکال هاست
    <br>
    این یک فایل منیجر مبتنی بر وبه که روت پثش ~/Pylocalhost کامپیوتر شماست.
    <br>
    به درد سرو کردن اچ تی ام ال-آژاکس-پی اچ پی و هرچیزی که نیاز به یک وب سرور داره میخوره.
    <br><br>
    <hr>
    نکته: پای لوکال هاست جیسون ای پی آی شامل اطلاعات پوشته بهون برمیگردونه اگر آخر یو آر ال پوشه عبارت ?api=true رو اضافه کنید.
    <br>
    برای مثال:
    <br>
    http://localhost/folder1/folder2/ (که فایل منیجر گرافیکی رو نشون میده) --> http://localhost/folder1/folder2/?api=true
    (جیسون برمیگردونه)
    <br><br>
    <hr>
    <h4>استفاده کامند لاین</h4>
    <code>$ sudo pylh &lt;command&gt;</code>
    <br>
    <br>
    Commands:
    <ul>
        <li>start --> شروع به کار پای لوکال هاست</li>
        <li>stop --> توقف کار پای لوکال هاست</li>
        <li>restart --> بارگیری مجدد فایل های پیکربندی و شروع مجدد پای لوکال هاست</li>
        <li>enable --> فعال سازی قابلیت شروع پای لوکال هاست هنگام روشن شدن رایانه شما</li>
        <li>disable --> غیر فعال سازی قابلیت شروع پای لوکال هاست هنگام روشن شدن رایانه شما</li>
        <li>help --> نمایش راهنما</li>
        <li>? --> نمایش راهنما</li>
    </ul>
    <hr>
    <h4>راهنمای تنظیمات</h4>
    <p><b>Allow requests from unknown hosts:</b>
        <br>
        گزینه الاو رو انتخاب کنید اگر میخواید پای لوکال هاست اجازه بده از هاست های غریبه بهش دسترسی داشته باشن
        <br>
        اگر گزینه دیس الاو رو انتخاب کنید پای لوکال هاست فقط از لوکال هاست کامپیوتر شما یا ای پی لوکال هاست از کامپیوتر شما که همون ۱۲۷.۰.۰.۱ هست در دسترس خواهد بود و افراد دیگه از شبکه به اون دسترسی نخواهند داشت
        <br>
        نکته: این گزینه به طور پیشفرض دیس الاو شده
        <br>
        اخطار: اگر گزینه الاو رو انتخاب کنید پای لوکال هاست شما در شبکه به اشتراک گذاشته خواهد شد پس حواستون باشه دارید چی کار میکنید.
        <br>
        نکته: حتی اگر گزینه الاو رو هم انتخاب کنید بخش تنظیمات برای غریبه ها قابل دسترسی نخواهد بود.
    </p>
    <p>
        <b>Show hidden files:</b>
        <br>
        شو رو انتخاب کنید اگر میخواید پای لوکال هاست فایل های پنهان یونیکس که با نقطه شروع میشن رو به شما نشون بده
        <br>
        نکته: این گزینه به طور پیشفرض غیرفعال است
    </p>
    <p>
        <b>Default editor theme:</b>
        <br>
        شما میتوانید تم پیشفرض را برای ویرایشگر پای لوکال هاست که از آن برای ویرایش یا ایجاد فایل ها استفاده میکنید انتخاب کنید
    </p>
    <hr>
    <h4>راهنمای نوار ابزار</h4>
    <i>شما میتونید یک نوار ابزار بالای پوشه ها و فایل ها ببینید که بخش های مختلفی داره:</i>
    <br>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/home.png') }}" alt="home">
        <div>شما رو به صفحه اصلی و خانه بر میگردونه</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/back.png') }}" alt="back">
        <div>شما رو به یک پوشه عقب تر بر میگردونه</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/opencurrent.png') }}" alt="open current folder">
        <div>این گزینه پوشه ای که الان درش هستید رو با فایل منیجر پیشفرض سیستمتون باز میکنه و اگر موفق نشه هیچ اتفاقی نخواهد افتاد</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/server.png') }}" alt="serve current folder">
        <div>این گزینه پوشه ای که توش هستید رو به جای نشون دادن محتوای داخلش با سرور سرو میکنه که یا فایل ایندکس رو نشون میده و یا صفحه فوربیدن</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/jupyter.png') }}" alt="start jupyter notebook here">
        <div>
            یک نوت بوک ژوپیتر روی پوشه فعلی ایجاد میکنه(درصورتی که موقع نصب کردن قبول کرده باشید که ژوپیتر رو هم نصب کنه)اگر هم ناموفق شد هیچ اتفاقی نمی افته
        </div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/kill.png') }}" alt="stop all running jupyter notebooks">
        <div>تمام نوت بوک های ژوپیتر فعال رو استاپ میکنه و در صورتی که ناموفق بود هیچ اتفاقی نمی افته و ممکنه هم کلا کار نکنه</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/plus.png') }}" alt="new file">
        <div>با این گزینه میتونید یک فایل جدید داخل پوشه فعلی ایجاد کنید</div>
    </div>
    <br>
    <div class="toolhelp">
        <img src="{{ url_for('static',filename='image/newfolder.png') }}" alt="new folder">
        <div>با این گزینه میتونید یک پوشه جدید داخل پوشه فعلی ایجاد کنید</div>
    </div>
    <br>
    <span class="static">Address</span> آدرس پوشه ای که توش هستید رو نشون میده
    <br><br>
    <hr>
    <h4>راهنمای منوی کلیک راست</h4>
    <i>با کلیک کردن روی یک فایل،پوشه یا ... شما میتونید لیستی از کار هایی رو که میتونید با اون فایل یا ... انجام بدید مشاهده کنید</i>
    <br>
    <u>نکته: آیتم هایی که * دارند فقط از کامپیوتری که پای لوکال هاست در آن نصب شده قابل استفاده هستند (فقط از ۱۲۷.۰.۰.۱ یا localhost) حتی اگر شما دسترسی از هاست های بیگانه رو فعال کرده باشید</u>
    <br>
    <br>
    <span class="static">View source</span> >>> سورس فایل رو در قالب متن خام نشون میده
    <br>
    <span class="static">Download</span> >>>  دانلود آیتم
    <br>
    <span class="static">Delete *</span> >>> حذف آیتم
    <br>
    <span class="static">Rename *</span> >>> تعویض نام آیتم
    <br>
    <span class="static">Edit *</span> >>> ویرایشگر رو برای ویرایش فایل باز میکنه
    <br>
    <span class="static">Open with OS *</span> >>> آیتم رو با نرم فازار پیشنهادی سیستم عامل شما باز میکنه و اگر موفق نشه هیچ اتفاقی نمیافته
    <br>
    <span class="static">Run script *</span> >>> فایل رو اجرا میکنه (فقط فایل های پایتون یا جاوا اسکریپت) و خروجی رو نشون میده
    <br>
    <br>
    <hr>
    <b>بیشتر در: <a href="https://mwxgaf.github.io/pylocalhost">mwxgaf.github.io/pylocalhost</a>
        <br>
        ایمیل ما: <a href="mailto:pylh@mwxg.ir">pylh@mwxg.ir</a>
    </b>
    <p class="support">لطفا اگر سوالی یا مشکلی داشتید یک ایشو در <u><b><i><a href="https://github.com/mwxgaf/pylocalhost">گیت هاب ما</a></i></b></u> ثبت کنید</p>
</div>
{% endblock content %}