{% extends 'explorer.html' %}

{% block title %}Settings | PyLH{% endblock title %}

{% block content %}
<center>
    {% include 'includes/title.html' %}
    <div class="container settings">
        <h1>Settings</h1>
        <form action="/settings/" method="POST">
            {{ form.hidden_tag() }}
            Allow requests from unknown hosts : {{ form.host }}
            <br>
            <input type="submit" value="Save">
        </form>
        <br>
        <b><i>If you need help go to the user manual part from the book icon below.</i></b>
    </div>
    {% include 'includes/info_icons.html' %}
</center>
<script>
    ("{{ data['host'] }}" == '1')? document.getElementById('host-0').setAttribute('checked','checked') : document.getElementById('host-1').setAttribute('checked','checked'); 
</script>
{% endblock content %}